<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogFinal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  </head>
<body>
<% if user_signed_in? %>
<div id="navbar">
	<ul>
    <%= link_to "Home", home_path, id:"home" %>
    <%= link_to "Posts", posts_path, id:"posts" %>
    <%= link_to "Users", home_path, id:"users" %>
    <%= link_to "My Profile", user_path(current_user.id), id:"myprofile" %>
	</ul>
</div>
<%else%>
  <div id="navbar">
  <ul>
    <%= link_to "Home", home_path, id:"home" %>
    <%= link_to "Posts", posts_path, id:"posts" %>
    <%= link_to "Users", home_path, id:"users" %>
    <%= link_to "My Profile", new_user_registration_path, id:"myprofile" %>
  </ul>
</div>
<%end%>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <div id="welcomeuser">
 		     <span>Welcome, <%= current_user.firstname %></span>
 		     <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
 	    </div>
 	  <% else %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field" id="emailinput">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field" id="passwordinput">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="actions" id="submitbutton">
            <%= f.submit "Log in" %>
        </div>
	   <% end %>
  <div class="signup" id="notauser">
  	<span>Not a user? <%= link_to 'Sign Up Here', '/users/sign_up' %></span>
  </div>
<% end %>
<%= yield %>
</body>
</html>
